.home-page .el-button--danger{
    border-color:#CC2229;
    background-color:#CC2229;
}

body{
    margin-right:calc(100% - 100vw);
    overflow-x:hidden;
    height: 100%;
}

html {
    height: 100%;
}

#app, .base {
    height: 100%
}

table{
    word-break:break-all;
}

.theme-default-content:not(.custom) {
    max-width: 1000px;
}

.page-nav {
    max-width: 1000ps !important;
}